<!-- <h3><i class="fa fa-angle-right"></i> Form Components</h3> -->

<!-- BASIC FORM ELELEMNTS -->
<div class="row mt">
  <div class="col-lg-12">
    <div class="alert alert-success alert-dismissable" ng-show="vm.showBanner && !vm.failUpdate">
      <button type="button" class="close" aria-hidden="true" ng-click="vm.closeBox()">&times;</button>
      <strong>Sukses!</strong> data yang anda input telah tersimpan
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="vm.showBanner && vm.failUpdate">
      <button type="button" class="close" aria-hidden="true" ng-click="vm.closeBox()">&times;</button>
      <strong>Gagal!</strong> password yang anda inputkan tidak sama
    </div>
    <div class="form-panel">
      <h4 class="mb"><i class="fa fa-angle-right"></i> Update Data Profile</h4>
      <form class="form-horizontal style-form" ng-submit="vm.update()">
        <div class="form-group">
          <label class="col-sm-2 col-sm-2 control-label">Nama</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" required ng-model="vm.input.name" placeholder="nama">
            <span class="help-block">Masukan nama dengan setiap kata diawali huruf besar (contoh: Matias Alvin)</span>
          </div>

          <label class="col-sm-2 col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" required ng-model="vm.input.username" placeholder="username" disabled>
            <br>
          </div>

          <label class="col-sm-2 col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" required ng-model="vm.input.password" placeholder="password">
            <br>
          </div>

          <label class="col-sm-2 col-sm-2 control-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" required ng-model="vm.input.passwordConf" placeholder="password confirmation">
            <br>
          </div>

          <label class="col-sm-2 col-sm-2 control-label">Nomor Telepon</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" required ng-model="vm.input.phone_number" placeholder="nomor telepon">
            <span class="help-block">Masukan nomor kontak anda (contoh: 0812345678)</span>
          </div>

        </div>
        <button type="submit" class="btn btn-theme">submit</button>
      </form>
    </div>
  </div>
</div>
